<!-- partials/sidebar.ejs -->
<div class="sidebar" id="sidebar">
    <div class="logo">
        <img src="/img/securelogo.png" alt="Logo"> <!-- Ensure this path is correct -->
    </div>
    <ul class="menu">
        <li><a href="/dashboard" class="active">Dashboard</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/loans">Loans</a></li>
        <li><a href="/savings">Savings</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/expenses">Expenses</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/sms">SMS</a></li>
        <li><a href="/emails">Emails</a></li>
    </ul>
</div>